/*impostazione generale di pagina*/
*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


/*strutturazione del corpo della pagina*/
.Struttura-della-pagina{
    margin: 2% 15% 0;
}


/*impostazioni del font di pagina*/
h1, p{
    text-align: center;
    margin: 4% 0;
}

h1{
    font-size: 40px;
}

.foto{
    height: 100px;
    vertical-align: middle;
}

.impostazioni-lista{
    list-style-type: none;
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
}

li{
    margin: 2%;
}


/*dati dei 6 contenitori centrali*/
.trow::after{
    content: "";
    display: table;
    clear: both;
}

.colsinistra, .colcentrale, .coldestra{
    float: left;
    width: calc((100% / 3) - 20px);
    background-color: black;
    margin-bottom: 5%;
    box-shadow: 0px 0px 10px 1px black
}

.colcentrale, .coldestra{
    margin-left: 30px;
}


/*colori e accortezze*/
h1[target="colore"] {
    color: #f02663;
}

a{
    text-decoration: none;
}