/*info e stili generici di pagina*/
*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Tilt Neon', sans-serif;
    font-size: 14px;
}

.centro-pagina{
    margin: 2% 20% 0;
}

/*titolo e paragrafo*/
h1, p{
    text-align: center;
    margin-bottom: 4%;
}

/*costruzione colonne*/
.row{
    content: "";
    display: table;
    clear: both;
}

.colsinistra, .colcentrale, .coldestra{
    float: left;
    width: (calc(100% / 3) - 20px);
    background-color: black;
    box-shadow: 0px 0px 10px 1px black;
    margin-bottom: 5%;
}

.colcentrale, .coldestra{
    margin-left: 30px;
}

/*contenuto riquadri*/
.immagini{
    height: 100px;
    vertical-align: middle;
}

.impostazioni-stile-riquadri{
    list-style-type: none;
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
}

li{
    padding-right: 24px;
    margin: 5%;
}

/*colori font*/
[target="colore-titolo"] {
    color: darkviolet;
}

[target="no-linea"] {
    text-decoration: none;
}